<?xml version="1.0"?>
<config>
    <modules>
        <Sns_Ajaxcart>
            <version>1.0.0</version>
        </Sns_Ajaxcart>
    </modules>
    <global>
        <models>
            <ajaxcart>
                <class>Sns_Ajaxcart_Model</class>
                <resourceModel>ajaxcart_mysql4</resourceModel>
            </ajaxcart>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>Sns_Ajaxcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
            <ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcart_write>
            <ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcart_read>
        </resources>
        <blocks>
            <ajaxcart>
                <class>Sns_Ajaxcart_Block</class>
            </ajaxcart>
            <!-- override block Mage_Wishlist_Block_Customer_Sidebar -->
			<wishlist>            
				<rewrite>  
                     <customer_sidebar>Sns_Ajaxcart_Block_Wishlist_Customer_Sidebar</customer_sidebar> 
				</rewrite>  
			</wishlist>  
		</blocks>
        <helpers>
            <ajaxcart>
                <class>Sns_Ajaxcart_Helper</class>
            </ajaxcart>
        </helpers>
		<helpers>
			<!-- override helper Mage_Core_Helper_Url -->
			<core>
				<rewrite>
					<url>Sns_Ajaxcart_Helper_Core_Url</url>
				</rewrite>
			</core>
			<!-- override helper Mage_Checkout_Helper_Cart -->
			<!--<checkout>
				<rewrite>
					<cart>Sns_Ajaxcart_Helper_Checkout_Cart</cart>
				</rewrite>
			</checkout>-->
			<ajaxcart>
				<rewrite>
					<product_compare>Sns_Ajaxcart_Helper_Catalog_Product_Compare</product_compare>
				</rewrite>
			</ajaxcart>
		</helpers>
        <events>
			<controller_action_postdispatch_checkout_cart_add>
				<observers>
					<ajaxcart>
						<type>singleton</type>
						<class>ajaxcart/observer</class>
						<method>addToCart</method>
					</ajaxcart>
				</observers>
			</controller_action_postdispatch_checkout_cart_add>
	        <controller_action_postdispatch_checkout_cart_delete>
                <observers>
                    <ajaxcart>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>removeProduct</method>
                    </ajaxcart>
                </observers>
            </controller_action_postdispatch_checkout_cart_delete>
	        <controller_action_postdispatch_checkout_cart_updatePost>
                <observers>
                    <ajaxcart>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>updateCart</method>
                    </ajaxcart>
                </observers>
            </controller_action_postdispatch_checkout_cart_updatePost>			
	        <controller_action_postdispatch_checkout_cart_updateItemOptions>
                <observers>
                    <ajaxcart>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>updateCart</method>
                    </ajaxcart>
                </observers>
            </controller_action_postdispatch_checkout_cart_updateItemOptions>			
	        <controller_action_postdispatch_wishlist_index_remove>
                <observers>
                    <ajaxcart>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>removeWish</method>
                    </ajaxcart>
                </observers>
            </controller_action_postdispatch_wishlist_index_remove>
	        <controller_action_postdispatch_catalog_product_compare_remove>
                <observers>
                    <ajaxcart>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>removeProductCompare</method>
                    </ajaxcart>
                </observers>
            </controller_action_postdispatch_catalog_product_compare_remove>
	        <controller_action_postdispatch_catalog_product_compare_clear>
                <observers>
                    <ajaxcart>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>clearProductCompare</method>
                    </ajaxcart>
                </observers>
            </controller_action_postdispatch_catalog_product_compare_clear>

			<controller_action_postdispatch_catalog_product_view>
                <observers>
                    <ajaxcart>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>addOptions</method>
                    </ajaxcart>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
			<controller_action_postdispatch_checkout_cart_index>
				<observers>
					<ajaxcart>
						<type>singleton</type>
						<class>ajaxcart/observer</class>
						<method>Wishtocheckout</method>
					</ajaxcart>
				</observers>
			</controller_action_postdispatch_checkout_cart_index>
			<controller_action_postdispatch_wishlist_index_cart>
                <observers>
                    <ajaxcart>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>addToCartWishList</method>
                    </ajaxcart>
                </observers>
            </controller_action_postdispatch_wishlist_index_cart>
			<controller_action_postdispatch_wishlist_index_configure>
                <observers>
                    <ajaxcart>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>addOptionsWishList</method>
                    </ajaxcart>
                </observers>
            </controller_action_postdispatch_wishlist_index_configure>
			<checkout_cart_product_add_after>
				<observers>
					<ajaxcart>
						<type>singleton</type>
						<class>ajaxcart/observer</class>
						<method>getNameProduct</method>
					</ajaxcart>
				</observers>
			</checkout_cart_product_add_after>
			<controller_action_postdispatch_wishlist_index_add>
				<observers>
					<ajaxcart>
						<type>singleton</type>
						<class>ajaxcart/observer</class>
						<method>addWishlist</method>
					</ajaxcart>
				</observers>
			</controller_action_postdispatch_wishlist_index_add>
			<controller_action_postdispatch_catalog_product_compare_add>
				<observers>
					<ajaxcart>
						<type>singleton</type>
						<class>ajaxcart/observer</class>
						<method>addProductCompare</method>
					</ajaxcart>
				</observers>
			</controller_action_postdispatch_catalog_product_compare_add>
        </events>
    </global>
    <frontend>
		<!-- //ssl : https://
		<secure_url>
			<ajaxcart>/ajaxcart/</ajaxcart>
		</secure_url>
		-->
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>Sns_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
        </routers>
        <layout>
            <updates>
                <ajaxcart>
                    <file>sns/ajaxcart.xml</file>
                </ajaxcart>
            </updates>
        </layout>
        <translate>
			<modules>
				<Sns_Ajaxcart>
					<files>
						<default>Sns_Ajaxcart.csv</default>
					</files>
				</Sns_Ajaxcart>
			</modules>
		</translate>
    </frontend>
    <admin>
        <routers>
			<ajaxcart>
				<use>admin</use>
				<args>
					<module>Sns_Ajaxcart</module>
					<frontName>ajaxcart</frontName>
				</args>
			</ajaxcart>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<snstheme>
				<title>SNS Theme</title>
				<sort_order>87</sort_order>
				<children>
					<ajaxcart>
						<title>SNS Ajax Cart</title>
						<sort_order>87</sort_order>
						<action>adminhtml/system_config/edit/section/ajaxcart_cfg/</action>
					</ajaxcart>
				</children>
			</snstheme>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<ajaxcart>
							<title>ajaxcart Module</title>
							<sort_order>10</sort_order>
						</ajaxcart>
					
						<system>
	                            <children>
	                                <config>
	                                    <children>
	                                        <ajaxcart_cfg translate="title" module="ajaxcart">
	                                            <title>SNS Ajax Cart</title>
	                                        </ajaxcart_cfg>
	                                    </children>
	                                </config>
	                            </children>
	                   </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ajaxcart>
					<file>ajaxcart.xml</file>
				</ajaxcart>
			</updates>
		</layout>
        <translate>
			<modules>
				<Sns_Ajaxcart>
					<files>
						<default>Sns_Ajaxcart.csv</default>
					</files>
				</Sns_Ajaxcart>
			</modules>
		</translate>
    </adminhtml>
	<default>
		<ajaxcart_cfg>
			<general>
			     <ajax_for_compare><![CDATA[1]]></ajax_for_compare>
			     <ajax_for_update><![CDATA[1]]></ajax_for_update>
			     <ajax_for_wishlist><![CDATA[1]]></ajax_for_wishlist>
			     <enable><![CDATA[1]]></enable>
			     <scrollToCart><![CDATA[1]]></scrollToCart>
			     <usingImgFly><![CDATA[1]]></usingImgFly>
			</general>
			<mini_cart_setting>
			     <list_type><![CDATA[recent]]></list_type>
			     <mini_cart_display><![CDATA[1]]></mini_cart_display>
			     <mini_cart_effect_duration><![CDATA[0.5]]></mini_cart_effect_duration>
			     <mini_cart_effect_type><![CDATA[slide]]></mini_cart_effect_type>
			     <product_description_display><![CDATA[0]]></product_description_display>
			     <product_image_display><![CDATA[1]]></product_image_display>
			     <product_image_height><![CDATA[85]]></product_image_height>
			     <product_image_linkable><![CDATA[1]]></product_image_linkable>
			     <product_image_width><![CDATA[80]]></product_image_width>
			     <product_price_display><![CDATA[1]]></product_price_display>
			     <product_quantity_display><![CDATA[1]]></product_quantity_display>
			     <product_quantity_input_display><![CDATA[0]]></product_quantity_input_display>
			     <product_rating_summary_display><![CDATA[0]]></product_rating_summary_display>
			     <product_title_display><![CDATA[1]]></product_title_display>
			     <product_title_linkable><![CDATA[1]]></product_title_linkable>
			</mini_cart_setting>
			<show_confirm_setting>
			     <show_confirm><![CDATA[1]]></show_confirm>
			     <show_product_in_confirm><![CDATA[1]]></show_product_in_confirm>
			     <time_countdown><![CDATA[9999]]></time_countdown>
			</show_confirm_setting>
		</ajaxcart_cfg>
	</default>
</config>