<?xml version="1.0"?>
<config>
	<global>
		<models>
			<slider>
				<class>Sns_Slider_Model</class>
			</slider>
		</models>
		<blocks>
			<slider>
				<class>Sns_Slider_Block</class>
			</slider>
		</blocks>
		<helpers>
			<slider>
				<class>Sns_Slider_Helper</class>
			</slider>
		</helpers>
		<resources>
			<slider_setup>
				<setup>
					<module>Sns_Slider</module>
				</setup>
			</slider_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<slider>
				<use>standard</use>
				<args>
					<module>Sns_Slider</module>
					<frontName>slider</frontName>
				</args>
			</slider>
		</routers>
		<layout>
			<updates>
				<slider module="Sns_Slider">
					<file>sns/slider.xml</file>
				</slider>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sns_Slider>
					<files>
						<default>Sns_Slider.csv</default>
					</files>
				</Sns_Slider>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Sns_Slider>
					<files>
						<default>Sns_Slider.csv</default>
					</files>
				</Sns_Slider>
			</modules>
		</translate>
		<menu>
			<snstheme>
				<title>SNS Theme</title>
				<sort_order>87</sort_order>
				<children>
					<slider>
						<title>SNS Slider</title>
						<sort_order>87</sort_order>
						<action>adminhtml/system_config/edit/section/slider_cfg/</action>
					</slider>
				</children>
			</snstheme>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<slider_cfg translate="title" module="slider">
											<title>SNS Slider Setting</title>
										</slider_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<slider_cfg module="slider">
			<advanced>
			     <devices_mobilelandscape><![CDATA[1]]></devices_mobilelandscape>
			     <devices_mobileportrait><![CDATA[1]]></devices_mobileportrait>
			     <devices_normal><![CDATA[3]]></devices_normal>
			     <devices_tabletlandscape><![CDATA[3]]></devices_tabletlandscape>
			     <devices_tabletportrait><![CDATA[2]]></devices_tabletportrait>
			     <devices_wide><![CDATA[3]]></devices_wide>
			     <posttext><![CDATA[]]></posttext>
			     <pretext><![CDATA[Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s. ]]></pretext>
			</advanced>
			<effect_slider>
			     <auto><![CDATA[0]]></auto>
			     <duration><![CDATA[500]]></duration>
			     <effects><![CDATA[zoomOut]]></effects>
			     <items_scroll><![CDATA[1]]></items_scroll>
			     <navigation><![CDATA[1]]></navigation>
			</effect_slider>
			<general>
			     <title><![CDATA[SNS Slider]]></title>
			</general>
			<product_display_setting>
			     <auto_visible><![CDATA[0]]></auto_visible>
			     <product_addtocompare><![CDATA[1]]></product_addtocompare>
			     <product_addtowishlist><![CDATA[1]]></product_addtowishlist>
			     <product_cart_or_status><![CDATA[1]]></product_cart_or_status>
			     <product_description_disp><![CDATA[0]]></product_description_disp>
			     <product_description_keep_tags><![CDATA[]]></product_description_keep_tags>
			     <product_description_max_length><![CDATA[40]]></product_description_max_length>
			     <product_description_src><![CDATA[short_description]]></product_description_src>
			     <product_description_strip_tags><![CDATA[0]]></product_description_strip_tags>
			     <product_image_disp><![CDATA[1]]></product_image_disp>
			     <product_image_height><![CDATA[180]]></product_image_height>
			     <product_image_width><![CDATA[160]]></product_image_width>
			     <product_price_disp><![CDATA[1]]></product_price_disp>
			     <product_rating_summary><![CDATA[1]]></product_rating_summary>
			     <product_title_disp><![CDATA[1]]></product_title_disp>
			     <product_title_max_length><![CDATA[25]]></product_title_max_length>
			</product_display_setting>
			<product_selection>
			     <product_category><![CDATA[39,44,40,41,50,60,77,45,53,54,58,63,64,66,76,47,55,56,57,62,74,48,43,46,52,61,67,68,69,70,42,59,79,78,80,49,51,65,71,72,82,83,84,81]]></product_category>
			     <product_filter_by><![CDATA[all]]></product_filter_by>
			     <product_limitation><![CDATA[9]]></product_limitation>
			     <product_order_by><![CDATA[created_at]]></product_order_by>
			     <product_order_dir><![CDATA[desc]]></product_order_dir>
			     <product_source><![CDATA[catalog]]></product_source>
			</product_selection>
		</slider_cfg>
	</default>
</config>