<?xml version="1.0"?>
<config>
	<global>
		<models>
			<productlist>
				<class>Sns_ProductList_Model</class>
			</productlist>
		</models>
		<blocks>
			<productlist>
				<class>Sns_ProductList_Block</class>
			</productlist>
		</blocks>
		<helpers>
			<productlist>
				<class>Sns_ProductList_Helper</class>
			</productlist>
		</helpers>
		<resources>
			<productlist_setup>
				<setup>
					<module>Sns_ProductList</module>
				</setup>
			</productlist_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<productlist>
				<use>standard</use>
				<args>
					<module>Sns_ProductList</module>
					<frontName>productlist</frontName>
				</args>
			</productlist>
		</routers>
		<layout>
			<updates>
				<productlist module="Sns_ProductList">
					<file>sns/productlist.xml</file>
				</productlist>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sns_ProductList>
					<files>
						<default>Sns_ProductList.csv</default>
					</files>
				</Sns_ProductList>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Sns_ProductList>
					<files>
						<default>Sns_ProductList.csv</default>
					</files>
				</Sns_ProductList>
			</modules>
		</translate>
		<menu>
			<snstheme>
				<title>SNS Theme</title>
				<sort_order>87</sort_order>
				<children>
					<productlist>
						<title>SNS Product List</title>
						<sort_order>87</sort_order>
						<action>adminhtml/system_config/edit/section/productlist_cfg/</action>
					</productlist>
				</children>
			</snstheme>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<productlist_cfg translate="title" module="productlist">
											<title>SNS Product List Settings</title>
										</productlist_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<productlist_cfg module="productlist">
			<general>
			     <title><![CDATA[Best Seller]]></title>
			</general>
			<product_display_setting>
			     <product_addtocompare><![CDATA[0]]></product_addtocompare>
			     <product_addtowishlist><![CDATA[0]]></product_addtowishlist>
			     <product_cart_or_status><![CDATA[0]]></product_cart_or_status>
			     <product_description_disp><![CDATA[0]]></product_description_disp>
			     <product_description_keep_tags><![CDATA[]]></product_description_keep_tags>
			     <product_description_max_length><![CDATA[40]]></product_description_max_length>
			     <product_description_src><![CDATA[short_description]]></product_description_src>
			     <product_description_strip_tags><![CDATA[0]]></product_description_strip_tags>
			     <product_image_disp><![CDATA[1]]></product_image_disp>
			     <product_image_height><![CDATA[85]]></product_image_height>
			     <product_image_width><![CDATA[80]]></product_image_width>
			     <product_price_disp><![CDATA[1]]></product_price_disp>
			     <product_rating_summary><![CDATA[1]]></product_rating_summary>
			     <product_title_disp><![CDATA[1]]></product_title_disp>
			     <product_title_max_length><![CDATA[25]]></product_title_max_length>
			</product_display_setting>
			<product_selection>
			     <num_columns><![CDATA[1]]></num_columns>
			     <product_category><![CDATA[39]]></product_category>
			     <product_limitation><![CDATA[4]]></product_limitation>
			     <product_order_by><![CDATA[best_sales]]></product_order_by>
			     <product_order_dir><![CDATA[desc]]></product_order_dir>
			     <product_source><![CDATA[catalog]]></product_source>
			</product_selection>
		</productlist_cfg>
	</default>
</config>