<?xml version="1.0"?>
<config>
	<modules>
        <Sns_RevolutionSlider>
            <version>1.0</version>
        </Sns_RevolutionSlider>
    </modules>
	<global>
		<models>
            <revolutionslider>
                <class>Sns_RevolutionSlider_Model</class>
            </revolutionslider>
        </models>
		<blocks>
            <revolutionslider>
                <class>Sns_RevolutionSlider_Block</class>
            </revolutionslider>
        </blocks>
		<helpers>
            <revolutionslider>
                <class>Sns_RevolutionSlider_Helper</class>
            </revolutionslider>
        </helpers>
        <resources>
        	<revolutionslider_setup>
        		<setup>
        			<module>Sns_RevolutionSlider</module>
        		</setup>
        	</revolutionslider_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<revolutionslider>
                <use>standard</use>
                <args>
                    <module>Sns_RevolutionSlider</module>
                    <frontName>revolutionslider</frontName>
                </args>
            </revolutionslider>
        </routers>
		<layout>
            <updates>
                <revolutionslider module="Sns_RevolutionSlider">
					<file>sns/revolutionslider.xml</file>
                </revolutionslider>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sns_RevolutionSlider>
                     <files>
                          <default>Sns_RevolutionSlider.csv</default>
                     </files>
                </Sns_RevolutionSlider>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sns_RevolutionSlider>
                     <files>
                          <default>Sns_RevolutionSlider.csv</default>
                     </files>
                </Sns_RevolutionSlider>
            </modules>
        </translate>
		<menu>
			<snstheme>
				<title>SNS Theme</title>
				<sort_order>87</sort_order>
				<children>
					<revolutionslider>
						<title>SNS Revolution Slider</title>
						<sort_order>87</sort_order>
						<action>adminhtml/system_config/edit/section/revolutionslider_cfg/</action>
					</revolutionslider>
				</children>
			</snstheme>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<revolutionslider_cfg translate="title" module="revolutionslider">
											<title>SNS Revolution Slider Settings</title>
										</revolutionslider_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <revolutionslider_cfg>
			<general>
			     <layout><![CDATA[1]]></layout>
			     <title><![CDATA[Revolution Slider]]></title>
			</general>
			<slideshow_effect>
			     <autoplay><![CDATA[1]]></autoplay>
			     <delay><![CDATA[9000]]></delay>
			     <navigationArrows><![CDATA[nextto]]></navigationArrows>
			     <navigationStyle><![CDATA[round-old]]></navigationStyle>
			     <navigationType><![CDATA[bullet]]></navigationType>
			     <slides_html><![CDATA[toronto_slide1, toronto_slide2, toronto_slide3]]></slides_html>
			     <timerbar><![CDATA[bottom]]></timerbar>
			</slideshow_effect>
        </revolutionslider_cfg>
    </default>
</config>